<div class="content-control">
	<ul class="breadcrumb">
        <li><a href="/admin"><i class="fa fa-home"></i> Dashboard</a></li>
        <li><a href="/admin/categories">Categorias</a></li>
        <li class="active">Incluir categoria</li>
    </ul>
</div>

<div class="content-body">
	<%= render 'admin/category/form' %>		
</div>