<div class="content-control">
	<ul class="breadcrumb">
        <li><a href="/admin"><i class="fa fa-home"></i> Dashboard</a></li>
        <li class="active">Categorias</li>
    </ul>
</div>

<div class="content-body">
	<div id="panel-datatables" class="panel panel-default">
		<table data-source="data-sample/datatables.json" data-page="bs_four_button" class="datatable table table-hover table-bordered">
			<thead>
				<tr>
					<th>#</th>
					<th>Descrição</th>
					<th>Ações</th>					
				</tr>
			</thead>

			<tbody>
				
			</tbody>
		</table>
	</div>
</div>