<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<h3 class="page-title">Categorias - inclusão</h3>
			<ul class="breadcrumb">
				<li>
					<a href="/admin">Dashboard</a>
					<span class="divider">/</span>
				</li>				
				<li class="active">
					<a href="/admin/categories">Categorias</a>
					<span class="divider">/</span>
				</li>				
        		<li class="active">Incluir categoria</li>
			</ul>
		</div>
	</div>
	<div id="page-wraper">
		<div class="row-fluid">
	    	<div class="span12">
	    		<div class="content-body">
				<%= render 'admin/category/form' %>		
			</div>
		</div>
	</div>
</div>