<% @categories.each do |category| %>
    <div>
        <p><%= category.description %></p>
    </div>
<% end %>

<% @tags.each do |tag| %>
    <div>
        <p><%= tag.description %></p>
    </div>
<% end %>