<!DOCTYPE html>
<html lang="pt-BR">
    
	<head>
        <meta charset="utf-8">
        <title>DG - Administração</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%= stylesheet_link_tag("9281c719.vendor.css") %>        
        <%= stylesheet_link_tag("3fc417cd.main.css") %>        
        
        <!--[if lt IE 9]>
          <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
        <![endif]-->
    </head>
        <body class="animated fadeIn">
        
        <header class="header">
            
            <div class="header-brand">
                <!-- <h2><a data-pjax=".content-body" href="index.php"><span class="text-primary">Sti</span>learn</a></h2> -->
                <a data-pjax=".content-body" href="index-2.html"></a>
            </div>
            
            <div class="header-profile">
                <div class="profile-nav">
                    <span class="profile-username">Olar, <%= current_user.name %></span>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu animated flipInX pull-right" role="menu">                       
                        <li><a href="/logout"><i class="fa fa-sign-out"></i> Sair</a></li>
                    </ul>
                </div>              
            </div> 
        </header>

        <section class="section">            
            <aside class="side-left">
                <ul class="sidebar">
                    <li>
                        <a href="admin" data-pjax=".content-body">
                            <i class="sidebar-icon fa fa-home"></i>
                            <span class="sidebar-text">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="sidebar-icon fa fa-table"></i>
                            <span class="sidebar-text">Cadastros</span>
                        </a>
                        <ul class="sidebar-child animated flipInY">
                            <li>
                                <a href="/admin/categories" data-pjax=".content-body">
                                    <span class="sidebar-text">Categorias</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/tags" data-pjax=".content-body">
                                    <span class="sidebar-text">Tags</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/entries" data-pjax=".content-body">
                                    <span class="sidebar-text">Verbetes</span>
                                </a>
                            </li>                            
                        </ul>
                    </li>                                              
                </ul>
            </aside>

            <div class="content">           
                <%= yield %>
            </div>
        </section>
        
        <aside class="side-right">
            <div class="module" data-toggle="niceScroll">                
            </div>
        </aside>

        <a rel="to-top" href="#top"><i class="fa fa-arrow-up"></i></a>
        <footer></footer>
     	
     	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
     	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	    <% javascript_include_tag("39914ff3.vendor-main.js") %>
        <% javascript_include_tag("756399db.vendor-usefull.js") %>
        <% javascript_include_tag("e7058f60.vendor-form.js") %>
        <% javascript_include_tag("fc9d433c.vendor-editor.js") %>
        <!--[if lte IE 8]>
        	<% javascript_include_tag("eae815b5.excanvas.js") %>
        <![endif]-->
        <% javascript_include_tag("2ce1156c.vendor-graph.js") %>
        <% javascript_include_tag("37a77790.vendor-table.js") %>
        <% javascript_include_tag("1581b2aa.vendor-maps.js") %>
        <% javascript_include_tag("5f4fd25b.vendor-util.js") %>
        
        <% javascript_include_tag("scripts/5917523f.main.js") %>        
        <% javascript_include_tag("89c3d6c9.initializer.js") %>
    </body>
</html>
