<!DOCTYPE html>
<html lang="pt-BR">
    
	<head>
        <meta charset="utf-8">
        <title>DG - Administração</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%= stylesheet_link_tag "application" %>
        
        <!--[if lt IE 9]>
          <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
        <![endif]-->
    </head>
        <body class="animated fadeIn">
        
        <header class="header">
            
            <div class="header-brand">
                <!-- <h2><a data-pjax=".content-body" href="index.php"><span class="text-primary">Sti</span>learn</a></h2> -->
                <a data-pjax=".content-body" href="index-2.html"></a>
            </div>
            
            <div class="header-profile">
                <div class="profile-nav">
                    <span class="profile-username">Olar, <%= current_user.name %></span>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu animated flipInX pull-right" role="menu">                       
                        <li><a href="/logout"><i class="fa fa-sign-out"></i> Sair</a></li>
                    </ul>
                </div>              
            </div> 
        </header>

        <section class="section">            
            <aside class="side-left">
                <ul class="sidebar">
                    <li>
                        <a href="admin" data-pjax=".content-body">
                            <i class="sidebar-icon fa fa-home"></i>
                            <span class="sidebar-text">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="sidebar-icon fa fa-table"></i>
                            <span class="sidebar-text">Cadastros</span>
                        </a>
                        <ul class="sidebar-child animated flipInY">
                            <li>
                                <a href="/admin/categories" data-pjax=".content-body">
                                    <span class="sidebar-text">Categorias</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/tags" data-pjax=".content-body">
                                    <span class="sidebar-text">Tags</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/entries" data-pjax=".content-body">
                                    <span class="sidebar-text">Palavras</span>
                                </a>
                            </li>                            
                        </ul>
                    </li>                                              
                </ul>
            </aside>

            <div class="content">           
                <%= yield %>
            </div>
        </section>
        
        <aside class="side-right">
            <div class="module" data-toggle="niceScroll">                
            </div>
        </aside>

        <a rel="to-top" href="#top"><i class="fa fa-arrow-up"></i></a>
        <footer></footer>
     	<%= javascript_include_tag "application" %>
    </body>
</html>
